[2020-10-05 13:52] kostacasa opened #4 "Resolve GCP project ID from the metadata server"
Many GCP products and services are augmented with a [metadata server](https://cloud.google.com/compute/docs/storing-retrieving-metadata). This endpoint provides useful information about the instance and the environment.

One of the resources it exposes is the ability to retrieve the project ID under which the service is running. Specifically, it can be retrieved using:
`http://metadata.google.inte

[2020-10-05 14:40] gastaldi opened #5 "Inherit from quarkiverse-parent"
The parent pom should inherit from `io.quarkiverse:quarkiverse-parent:2` so GitHub actions can function properly

[2020-10-05 18:19] #5 closed

[2020-10-07 11:45] loicmathieu commented on #4
The request to the metadata server never goes out of the application host so it should not have a huge impact on start times.
The best is to add this feature behind an `enabled` property, disabled by default, so it's  a developer choice to use it.

[2020-10-07 11:46] loicmathieu commented on #4
We can then decide to enable it by default from the Google Cloud Functions extension when this extension is here for example.

[2020-10-08 00:44] gastaldi opened #8 "Add README and contributors"

[2020-10-08 00:44] gastaldi commented on #8
@all-contributors add @loicmathieu for code and maintenance

[2020-10-08 00:45] gastaldi commented on #8
@all-contributors add @loicmathieu for code and maintenance

[2020-10-08 00:45] #8 closed

[2020-10-14 18:35] gastaldi opened #15 "Add a human-friendly <description> in the pom.xml on each extension"
This is necessary for our tooling

[2020-10-15 08:00] loicmathieu opened #18 "Provides an integration-test with an access token"
Provide an integration test that show how to authenticate via an access token with a Google Cloud Service.

For maintenance purpose, this integration test should only use one Google Cloud service not all to avoid too much test duplication.

[2020-10-15 09:22] #15 closed

[2020-10-20 16:13] loicmathieu opened #21 "Use gcloud emulators to be able to run integration tests on CI"
See https://cloud.google.com/sdk/gcloud/reference/beta/emulators

No all services can be emulated but this will allow some tests to be run on CI

[2020-10-22 15:17] loicmathieu commented on #21
An example can be found for Firestore.

It could also be done for PubSub and Spanner as they also provides emulators

[2020-10-22 15:17] loicmathieu opened #23 "Setup native build on CI"

[2020-10-23 13:56] #23 closed

[2020-10-29 13:12] danipenaperez opened #37 "Unable to build native image"
Hi guys! I am having this error while building native image:
Error: substitution target for io.quarkiverse.googlecloudservices.common.runtime.graal.DefaultHttpTransportFactorySubstitution is not loaded. Use field `onlyWith` in the `TargetClass` annotation to make substitution only active when needed.
com.oracle.svm.core.util.UserError$UserException: substitution target for io.quarkiverse.googleclo

[2020-10-29 13:22] loicmathieu commented on #37
I didn't tested this library with Quarkus 1.9.1 yet and it may not be compatible.
Can you try to downgrade to Quarkus 1.8.3 and see if it fixes the issue ?

[2020-10-29 13:22] loicmathieu commented on #37
Also, Quarkus uses now GraalVM 20.2 as a base version, can you try with this one please?

[2020-10-29 13:53] danipenaperez commented on #37
Hi Loic! downgraded to 1.8.3 still the same issue . I made this repo https://github.com/danipenaperez/issue-quarkus-google-pubsub  to easily reproduce  (clone and master branch)
I run with graal 20.2.0 in this way
./mvnw package -Pnative -Dquarkus.native.container-build=true
I am going to try with older graalvm versions instead

[2020-10-29 13:58] danipenaperez commented on #37
I am not lucky with older versions. GraalVM upgrade is a must.

[error]: Build step io.quarkus.deployment.pkg.steps.NativeImageBuildStep#build threw an exception: java.lang.IllegalStateException: Out of date version of GraalVM detected: GraalVM Version 19.3.2 CE. Quarkus currently supports 20.2. Please upgrade GraalVM to this version.
[ERROR] 	at io.quarkus.deployment.pkg.steps.NativeImageBuildSte

[2020-10-29 14:37] loicmathieu commented on #37
I saw you're using version 0.2.0-SNAPSHOT. So you build it by yourself ?
Can you try with the release version of the library: `0.1.2` instead ?

[2020-10-29 14:52] danipenaperez commented on #37
yes I build in by source code directly , because building with :
mvn io.quarkus:quarkus-maven-plugin:1.8.3.Final:create -DprojectGroupId=org.acme  -DprojectArtifactId=pubsub-quickstart-dpp  -Dextensions="quarkus-google-cloud-pubsub"
throw me an error
Cannot find a dependency matching 'quarkus-google-cloud-pubsub', maybe a typo?
[ERROR] Unable to install the Maven wrapper (./mvnw) in the project
or

[2020-10-29 14:57] danipenaperez commented on #37
So, when I tried with ./mvnw quarkus:add-extension -Dextensions="quarkus-google-cloud-pubsub" , show an error like this
Failed to execute goal io.quarkus:quarkus-maven-plugin:1.8.3.Final:add-extension (default-cli) on project getting-started: Unable to update the pom.xml file: Unable to add extensions -> [Help 1]
org.apache.maven.lifecycle.LifecycleExecutionException: Failed to execute goal io.qua

[2020-10-29 15:59] loicmathieu commented on #37
@danipenaperez I can reproduce the error, this is my first bug thank you very much :)

This substitution should be needed, but not for pubsub, as my integration test includes all library something else should need it.

[2020-10-29 16:12] loicmathieu commented on #37
OK, I find the issue.
A GraalVM substitution on the common module was not needed for pubsub as it didn't rely on the same authentication mechanism that the other libraries.

I'll create a fix and make a new release.

As a workaround you should be able to build a native image of your application by adding the `quarkus-google-cloud-storage` library.

[2020-10-29 16:17] danipenaperez commented on #37
LOL ,  I am sorry @loicmathieu   ;-D . I think you did a nice work for all quarkus community adding google cloud support!!

[2020-10-29 16:34] loicmathieu commented on #37
Don't take it wrong, I'm sincerely happy !
This is a challenger!
And this means someone use my library ;)

[2020-10-29 16:50] #37 closed

[2020-10-29 16:53] danipenaperez commented on #37
Loic I tried adding cloud-storage dependency and now it works. And I tried with quarkus 1.9.1final and works too. Congrats!!!
I owe you a beer !!

[2020-10-29 17:00] loicmathieu commented on #37
Cool ;)

You can also build master it's based on Quarkus 1.9 and have the fix.
I try to build a release soon if I can.

Don't hesitate to give me feedback on it (you can join me on Quarkus Zulip) or open issue with possible enhancements

[2020-10-29 19:54] dzou opened #41 "Official Google Support for GraalVM compilation"
Hello!

My name is Dan and I'm one of the engineers looking into getting GraalVM compilation working for Java Google Client Libraries, across different frameworks like Quarkus, Spring, Micronaut, etc. I was excited to see that you were pursuing an effort here for Quarkus and wanted to give you a heads-up on our work. Perhaps the work we've done so far can help you or vice versa.

We started a proj

[2020-10-30 09:09] loicmathieu commented on #41
Hi dzou ,
It's great news that Google works on GraalVM native support for Google Cloud library.
We can of course works together to avoid duplicated work.

If I understand, you seek for support for all users, it's wonderful, but in this case you cannot rely on Quarkus specific libraries like `quarkus-grpc`, and gRPC native support wil be the most difficult part I think ;)

As soon as you have nativ

[2020-10-30 21:48] dzou commented on #41
Hi Loic,

Thank you for the response. I see, we would be happy to see if we can make some of these upstream changes happen. From how we observed best practices from the Spring team it looked like contributing back code to be native image compatible is often the best practice! We had some success making some code changes to the Netty libraries which went through so I think we can do the same if the

[2020-11-04 20:32] dzou commented on #41
Going to close this after our discussions. Thanks for your time; we'll be in touch!

[2020-11-04 20:32] #41 closed

[2020-11-08 12:24] huw0 opened #54 "Firestore cannot be injected if using the emulator"
If `FIRESTORE_EMULATOR_HOST` environment variable is set a stracktrace is thrown because Quarkus still attempts to resolve Cloud Credentials.

[code]

Emulator can be used if creating the Firestore object with

[code]

[2020-11-08 12:41] huw0 commented on #54
With the above, there is another error at the point where a firestore request is actually made. Possibly, the issue can be resolved by updating the firestore dependency to 2.1.0?

[2020-11-08 12:58] huw0 commented on #54
Still issues with latest 2.1.0. Probably this is a gcloud library issue
https://github.com/googleapis/java-firestore/issues/361

[2020-11-09 09:09] loicmathieu commented on #54
@huw0 to use the emulator in a test, you need to mock the `GcpCredentials` object as there is a CDI producer that creates even if an emulator is used.

You can find and example here: https://github.com/quarkiverse/quarkiverse-google-cloud-services/blob/master/integration-tests/main/src/test/java/io/quarkiverse/googlecloudservices/it/mock/GcpCredentialProducerMock.java

Maybe this needs to be docum

[2020-11-17 23:06] murphye opened #56 "Stackdriver Monitoring Support"
Please see this for comparison:
https://cloud.spring.io/spring-cloud-gcp/reference/html/#stackdriver-monitoring

Also would depend on this issue for native support:
https://github.com/quarkusio/quarkus/issues/13349

[2020-11-22 11:05] medvedev opened #57 "Exceptoins when creating new object in storage"
**Issue:** Unable to create object in Storage
**Extension version:** 0.2.0

Both code fragments below work in "JVM" mode, but fail with exceptions in runtime in native mode:
[code]

Exception:
[code]

Tried different method to create an, got different exception.

Code:
[code]

Exception:
[code]

[2020-11-23 11:23] loicmathieu commented on #57
Hello,
Thanks for reporting this issue.
Can you prepare a small reproducer, you can attach it in the issue or give the link to a github repo.

[2020-11-23 15:22] medvedev commented on #57
Will do a bit later today

[2020-11-23 16:04] medvedev commented on #57
@loicmathieu
Created a demo project with all the details needed placed in README.md:
https://github.com/medvedev/quarkus-gcp-storage-write-error

[2020-11-24 15:46] medvedev commented on #57
Updated project (link in commend above) to demonstrate both exceptions, added `gsutil rm` to the output for easier cleanup

[2020-11-24 15:55] loicmathieu commented on #57
@medvedev thanks, I can reproduce the issue.

I had a quick look and didn't find the issue, will need to digg deeper to try understanding what's going on.

@dzou I know your team starts working on native support for several Google Cloud Services, do you have this kind of issues for Storage? I register for reflection all subclasses of `com.google.api.client.json.GenericJson` and all inner classes o

[2020-11-24 16:15] dzou commented on #57
Ahh interesting, let me try reproducing this.

We have some basic native image tests for storage; I'm curious if this is a case that we miss as well.

[2020-11-24 18:54] dzou commented on #57
Interesting, I was able to fix the error by adding our artifact (containing the reflection configs we've been building up so far): https://github.com/GoogleCloudPlatform/google-cloud-graalvm-support

Basically just did this - added the sonatype snapshots repo:
[code]

Then our artifact to the deps:
[code]

And it worked! I think there is some missing reflection configuration that causes this probl

[2020-11-24 21:18] loicmathieu commented on #57
@dzou Yes I think using your dependency is the right thing to do.

If you can create a first release so we didn't rely on snapshots it would be cool.

I will then remove reflection config from here and upstream what's missing in the Google native support lib.

A PR is of course very welcome 😀

[2020-11-24 21:33] dzou commented on #57
Sure! That's sounds great. I'll get a release out in a few days and send a PR your way shortly!

[2020-12-01 21:15] dzou commented on #57
Hi there, we just released version `0.1.0` of `google-cloud-graalvm-support`. It is ready to be used by downstream users.

I sent out a PR to modify the storage extension to depend on our reflection configs here: https://github.com/quarkiverse/quarkiverse-google-cloud-services/pull/58

If you feel this is satisfactory, I can do the same process for Pub/Sub as well!

[2020-12-02 06:23] neXus1987 opened #59 "Load service account (json) from classpath"
Hi all,

Is it also possible (or in future) to load the service account json from classpath:
quarkus.google.cloud.service-account-location=serviceaccount.json

src/main/resources/serviceaccount.json

Thanks

[2020-12-02 08:19] loicmathieu commented on #57
Thanks @dzou I'll test #58 with a reproducer of this one to check that it fixes the issue then we can proceed with the same change for PubSub.

[2020-12-02 20:41] neXus1987 commented on #59
maybe something like this (i guess it is easier to load from resource in case running, e.g. on google app engine):
GcpCredentialProducer:

from
[code]
[code]

[2020-12-03 08:58] loicmathieu commented on #57
This has been fixed by #58 thanks to @dzou and the GCP Java Team :)

It will be included in the next release, no date yet but if it's urgent I can create a release with this fix.

[2020-12-03 08:58] #57 closed

[2020-12-03 09:37] loicmathieu commented on #59
I don't like the file name to start with `classpath` as it's not a common scheme inside Quarkus.

If you want to include your service account inside the application, I can add an option to define it via a base64 encoded string inside your `application.properties` inside a file.

[2020-12-03 09:38] loicmathieu commented on #59
Another solution would be to allow putting it inside `META-INF` and check if the path start with `META-INF` then load it as a ressource from the classpath else as a file.

[2020-12-03 09:39] neXus1987 commented on #59
this is a good option with META-INF, this would be great!

[2020-12-03 18:29] neXus1987 opened #65 "Enhancement: Google Sheets API"
Hi,

google sheets API would be a great enhancement, we use it to sync some data between sheets and firestore.

Thanks!

[2020-12-17 19:29] ebullient commented on #56
The stackdriver extension for micrometer is moving to quarkiverse also, here:
https://github.com/quarkiverse/quarkiverse-micrometer-registry/pull/3

Once both are in quarkiverse, the quarkiverse micrometer stackdriver extension will pull the two bits together.

[2021-01-02 18:16] huw0 opened #67 "FireStore problem with native-image"
I'm getting errors generating a native image.

[code]

Building the native-image with `./gradlew -Dquarkus.package.type=native -Dquarkus.native.container-runtime=podman clean build` which uses the container `quay.io/quarkus/ubi-quarkus-native-image:20.2.0-java11`

[code]

[code]

Haven't had any time yet to look any further.

[2021-01-04 11:39] loicmathieu commented on #67
Hi,
Can you give us the list of extensions you use ?
From the features listed when you start your application or from your pom.xml ?

The netty-shadded library should not be included by the firestore extension so there may be some dependency issues.

[2021-01-05 09:31] uny opened #69 "Spanner problem with native-image"
Similar to https://github.com/quarkiverse/quarkiverse-google-cloud-services/issues/67

Building native-image fails with the following:

<details>
<summary>Full trace</summary>

[code]

</details>

## Steps to reproduce

1. Download a zip file from https://code.quarkus.io/ with no extensions.
2. Add the dependency into pom.xml.
[code]
3. Add the project id into application.protperties.
[code]
4. Ad

[2021-01-05 13:03] loicmathieu commented on #69
Hi, I think some pieces are missing for native support for GRPC based services others than PubSub.
You can workaround this by adding the `io.quarkiverse.googlecloudservices:quarkus-google-cloud-pubsub` library to your pom.xml.

[code]

I'll fix this for the next release.

[2021-01-05 13:03] loicmathieu commented on #67
Same issue as #69 I think, you can use the same workaround of adding the pubsub library.
I'll work on a fix for the next release.

[2021-01-05 18:39] #67 closed

[2021-01-05 18:40] loicmathieu commented on #69
Fixed by #71

It will be included in the next release.

[2021-01-05 18:40] #69 closed

[2021-01-09 20:58] huw0 commented on #67
Thanks for your quick response @loicmathieu . I can confirm that the pubsub workaround fixes the netty stack. However the second stack around SecureRandom / NativePRNG remains.

[2021-01-09 21:15] huw0 commented on #67
Based on oracle/graal#712 I tried `quarkus.native.additional-build-args=--rerun-class-initialization-at-runtime=com.google.cloud.firestore.FirestoreImpl`

This or the not deprecated equivalent of `quarkus.native.additional-build-args=--initialize-at-run-time=com.google.cloud.firestore.FirestoreImpl` gets things building. Haven't yet tested whether this actually works at runtime.

[2021-01-11 12:55] loicmathieu commented on #67
@huw0 I didn't notice the second stacktrace, sorry.

I tested with master and it works. It'll be OK with the release 0.4

[2021-01-23 19:48] madsop opened #75 "Enhancement: Secret Manager"
On my project, I'm using GCP's Secret Manager for handling keys, passwords and other secrets.

I can't make it work with Quarkus Native, but the code for the client library looks manageable in size.

Would be happy to contribute on this one if needed.

[2021-01-24 22:32] madsop commented on #75
Sorry, didn't see that this is addressed in https://github.com/quarkiverse/quarkus-google-cloud-services/pull/3

[2021-01-25 09:01] loicmathieu commented on #75
@madsop the openned PR in #3 is not going anywhere, the author didn't reply since 3 month now. I may close it soon.

I'll re-open this issue, maybe other would give feedback on this.

[2021-01-29 21:59] dzou commented on #75
Hey just a heads up, I'm interested in contributing a secret manager feature once you submit your PR. Basically to let users specify secrets in their `application.properties` files like this:

[code]

I'll share a proof of concept in the next couple days.

[2021-02-09 14:20] fabrii opened #82 "Disable service authentication"
It seems that the credentials file is mandatory. If we don't provide one, the application cannot start.

In my case, I am using Google Storage to persist files. In some dev environments I want to save the files directly to the filesystem without providing a ".json" file with credentials.

Is there any way of doing this?

Thanks!

[2021-02-09 16:22] loicmathieu commented on #82
It's a little more complexe, see https://github.com/quarkiverse/quarkus-google-cloud-services#authenticating-to-google-cloud

Your issue is that you want to use Storage in some env and something else on other env.
And as soon as you add the storage dependency, a `Storage` CDI bean is produced that mandates the authentication.

The issue is that somewhere inside your code you inject the `Storage` b

[2021-02-19 08:38] edorosh opened #85 "Artifact quarkus-google-cloud-secret-manager is missing in MVN Repo"
Hi all! I tried to use Secret Manager package in my Quarkus (1.11.2) project and have a problem with downloading it.

I added these lines to my pom.xml file
[code]

And mvn fails to download it. I checked the results at https://mvnrepository.com/artifact/io.quarkiverse.googlecloudservices. There is no artifact quarkus-google-cloud-secret-manager as well. Can you please check if the artifact is pub

[2021-02-19 08:48] loicmathieu commented on #85
Hi @edorosh secret  manager will be available on 0.5, it has been merged yesterday only.
The documentation is on master so it may shows some stuff that are not yet available.

I'll plan to make a release soon, certainly after Quarkus 1.12 to avoid creating multiple release.

[2021-02-19 08:49] loicmathieu commented on #85
If you really want to test it, you must clone this repo and install it locally, we didn't publish snapshot releases yet?

[2021-02-19 08:50] loicmathieu commented on #75
This has been provided via #77 and #78

[2021-02-19 08:50] #75 closed

[2021-02-19 09:01] edorosh commented on #85
Thanks @loicmathieu for the comments! It's clear

[2021-02-19 09:02] #85 closed

[2021-02-24 14:44] loicmathieu commented on #85
FYI I release 0.5.0 today that includes Google Cloud Secret Manager

[2021-03-01 10:58] edorosh commented on #85
Awesome! Thanks

[2021-03-18 14:51] loicmathieu commented on #4
PR #89 resolves the project ID from `ServiceOptions.getDefaultProjectId()` which will use the metadata server if available.
So I'm closing it.

[2021-03-18 14:51] #4 closed

[2021-03-29 10:53] mar9000 opened #90 "FirestoreImpl initialization needs to be delayed"
Hi, and thanks for this extension.

With:
  * quarkus 1.12.2.Final
  * google services firestore 0.5.0

I've tested the `FirestoreResource` on the [README.md](https://github.com/quarkiverse/quarkus-google-cloud-services/tree/master/firestore) build a sample project exactly as stated on the same file. It compile to native without problem.

Nevertheless adding these lines (note that the documentId i

[2021-03-29 10:59] loicmathieu commented on #90
@dzou do you think it's something that should be fixed upstream in the native support google cloud library or should I fixed this issue on the Quarkus side (it's easy on the extension side to delay the initialization).

[2021-03-29 13:29] dzou commented on #90
Ah, thanks for the report.

@loicmathieu - Yes indeed, we will fix this on our end and I will prepare a release for you to use.

[2021-03-29 14:04] loicmathieu commented on #90
@dzou thanks, I flagged the issue as upstream so we can easily track these kind of issue that should be fixed upstream.

[2021-03-30 15:38] PeterUlb opened #91 "Provide endpoint-override properties"
I've just found this repository and realized I'd rather use this than creating my producers in every single project again and again.
The feature I miss most currently is to provide a custom endpoint.

`StorageOptions.newBuilder().setCredentials(credentials).setHost(gcpConfiguration.hostOverride.orElse(null)).build().getService();`

The sqs lib has the property `quarkus.sqs.endpoint-override` for t

[2021-03-31 07:35] loicmathieu commented on #91
Hi, thanks for open this issue ;)

For the ability to override the default host of storage, yes, it's a good addition ;)
If you plan to work on it, can you also add an integration test for Storage ? I'll be possible after this addition (you can take for exemple what I did for BigTable: https://github.com/quarkiverse/quarkus-google-cloud-services/blob/master/integration-tests/main/src/test/java/io/

[2021-03-31 07:36] loicmathieu commented on #91
And also, is this endpoint-override mechanism only for Storage or is it possible for other services ? Some services handle emulators using env var is it the same thing or not ?

[2021-03-31 10:24] PeterUlb commented on #91
PubSub also [exposes ](https://googleapis.dev/java/google-cloud-pubsub/latest/com/google/cloud/pubsub/v1/Subscriber.Builder.html#setEndpoint-java.lang.String-) it.

But for PubSub that's not enough. The emulator only works with plaintext. So a custom `ChannelProvider` is required. But since there's no way to expose such a Bean anyway, it's not really needed.

Other endpoints have something similar

[2021-03-31 10:46] loicmathieu commented on #91
So I propose to only provides a config item for Storage for now, as you said, this is the one for which it makes sense.

I saw something like this some times ago, maybe it's just a matter of better documentation and changing the IT ;) PR are welcome :)

[2021-04-06 07:49] loicmathieu commented on #90
@dzou thanks for fixing it upstream.

But you was a little too hurry to close this issue as it's not yet available here ;)

I reopen the issue, we'll close it when the upstream fix arrives here (so when a new version of the google-cloud-graalvm-support library is released and integration here).

[2021-04-06 13:46] dzou commented on #90
Oops, sorry, didn't mean to close it here! I submitted the fix upstream; will do a new release and then upgrade the version in here.

[2021-04-07 07:08] loicmathieu commented on #90
Fixed via #96

[2021-04-07 07:08] #90 closed

[2021-04-07 10:27] somen440 opened #97 "When I use CollectionReference.add in Firestore, native build fails"
pom.xml

[code]

Java code

[code]

`./mvnw package -Pnative`

[code]

I solved this in the following way ...

[code]

Is there a better solution to this problem?

---

Reference link

- https://github.com/ballerina-platform/ballerina-standard-library/issues/75

[2021-04-07 10:47] loicmathieu commented on #97
Duplicated with #90

This is fixed in master, I'll release version 0.6 soon that will fix the issue.
I you can build this repo from master and try the fix and provide feedback this would be great!

Otherwise, I'll close it as it seems to be the same as #90 and already fixed.

[2021-04-07 11:48] somen440 commented on #97
Thank you for your prompt reply!
I tried the solution but got the following error ...

change diff

[code]

error message

[code]

What's wrong with this?

[2021-04-07 12:00] loicmathieu opened #98 "Provides endpoint override for Firestore, Spanner, Pub/Sub and Bigtable"
Provides endpoint override capabilities for the following service:

- [x] Firestore
- [x] Spanner
- [ ] Pub/Sub
- [ ] BigTable

Storage has already been covered via #92

The overriding can be done using the following methods:

Client Library | Configure Endpoint
-- | --
Firestore | setHost(hostport)
Spanner | setEmulatorHost(hostport)
Pub/Sub | setChannelProvider with forTarget(hostport) / setEndp

[2021-04-07 12:01] loicmathieu commented on #98
/cc @PeterUlb

[2021-04-07 12:02] #91 closed

[2021-04-07 12:14] loicmathieu commented on #97
Yes, snapshots are not deployed nightly, you need to clone the repo and build locally (via mvn clean install).
I'll release 0.6 soon so no hurry

[2021-04-07 14:01] PeterUlb commented on #98
I also had a look at PubSub since I do something similar in my project, but this will get a bit more involved if the library should provide some defaults.
What I currently use is my own `PubSubFactory`, which is configurable with a connection type (plaintext or secure) + Endpoint. I think the spring project uses something similar (Autowired PubSubTemplate which has a Publisher and Subscriber Facto

[2021-04-08 00:49] somen440 commented on #97
thx!!!!
`mvn clean install` as advised and it passed the build.

[2021-04-08 09:13] loicmathieu commented on #97
Thanks for the feedback, I'm closing it now, 0.6 should be release today I hope

[2021-04-08 09:13] #97 closed

[2021-04-08 16:04] aloubyansky opened #104 "Publish test artifacts to be integrated into the Quarkus platform testsuite"
To be able to integrate the Google Cloud Services Quarkus extensions into the Quarkus community platform https://github.com/quarkusio/quarkus-platform, besides the BOM, which already exists, we need to integrate at least some tests that would make sure that the GCS extensions are compatible with the generated platform BOM.

Usually, you would pick some (or even all, depending on the case) of the i

[2021-04-09 10:44] loicmathieu opened #105 "Align dependencies with the Quarkus Platform BOM"
Most of our dependencies are comming from the Quarkus BOM or the Google Library BOM: https://github.com/GoogleCloudPlatform/cloud-opensource-java/wiki/The-Google-Cloud-Platform-Libraries-BOM

@aloubyansky made a dependency convergence analysis and it appears that some dependencies are not aligned

![114056965-7aee0b00-9892-11eb-9f64-c9b0d22fe7a3](https://user-images.githubusercontent.com/1819009/1

[2021-04-09 10:50] aloubyansky commented on #105
I haven't looked into this further, if this is actually a misalignment compared to the quarkus-bom, it probably makes sense to align them going forward. But, just fyi, it's a part of the platform BOM generation process to align version constraints accross all the members. There typically will be adjustments. It depends on what the members bring in though. Which is why we need integration tests in

[2021-04-09 10:53] loicmathieu commented on #105
I think the best will be to use the Google Library BOM in Quarkus and uses the same version on GCS extensions.
On the library BOM readme, it is say this is the prefered way to manage GRPC / protobuf libraries.

[2021-04-21 13:44] manuelbl opened #107 "SecretManagerServiceClient is removed during build"
In a minimal setup using the Secrets Manager extension to inject a password into a configuration value, the Quarkus app crashes when the password is accessed for the first time as the `SecretManagerServiceClient` class has been removed during build.

The relevant code is:

*application.properties*:

[code]

*AppDirectory.java*:
[code]

When *someMethod()* is called for the first time, an exception

[2021-04-21 13:57] manuelbl opened #108 "Prevent access token forwarding for Secret Manager"
In an application using OIDC or OAuth 2, the Secret Manager extension will use the access token of the current user to access the Secret Manager. Usually, the first user's token after startup will be used.

While this behavior is documented in [Authenticating to the Google Cloud](https://github.com/quarkiverse/quarkus-google-cloud-services#authenticating-to-google-cloud) and makes sense for severa

[2021-04-21 14:21] loicmathieu commented on #107
Thanks for reporting, yes, it's a bug, we should set the bean as unremovable as it can be used with only config properties.

[2021-04-21 14:24] loicmathieu commented on #108
Maybe we need a way to override the global authentication for the Secret Manager to be able to choose a different authentication mechanism for it.
So you can have OIDC for Storage and json service account (or automatic auth when running in GCP) for Secret Manager.

This makes sense.

[2021-04-21 16:13] manuelbl opened #109 "Secret manager is incompatible with OIDC web app"
Using the Secret Manager extension to specify the client credential for an OIDC web application is a natural fit. Unfortunately, it does not work. It throws an exception at startup (see below).

It looks like a problem with the initialization order. But I was unable to resolve it.

A complete example has been attached. It has been generated with https://code.quarkus.io/?e=oidc&e=resteasy-qute. The

[2021-04-21 23:32] josh-aguilar opened #110 "Getting NoClassDefFoundError with native builds"
We're using the google cloud storage extension with Gradle by adding the following to our `build.gradle` file.
[code]

However, we are getting the following error when executing a native build using `./gradlew build -Dquarkus.package.type=native`.
[code]

The build runs fine if we use try to generate and uber-jar using `./gradlew quarkusBuild -Dquarkus.package.type=uber-jar`.

[2021-04-22 07:37] loicmathieu commented on #110
This is indeed a very strange error, the class `javax.security.jacc.EJBMethodPermission` didn't seems to be present on any dependency inside any extensions.
Do you use other libraries ?
Can you create a small reproducer ?

[2021-04-22 08:02] loicmathieu commented on #109
So the issue is that you configure the OIDC with a config key from the service manager via
[code]
When removing this line, the application starts.
This is tricky, I'll have a look and see what we can do.

[2021-04-22 08:14] manuelbl commented on #109
Yes, that's the core config line.

The application starts if either a hard coded value is inserted or the line is removed and the value is injected as an environment variable.

I've also tried to to use a startup event to force an earlier initialization. But it turns out, even that isn't early enough. So I'm not surprised it's tricky to solve.

[2021-04-22 09:19] #107 closed

[2021-04-28 11:19] JiriOndrusek opened #113 "Upgrade google-cloud-storage to version 1.113.8"
I'm working on camel-quarkus extension for google-storage https://github.com/apache/camel-quarkus/issues/2421

This extension uses `google-cloud-storage` library of version `1.113.4`
[code]
Camel component uses slightly higher version - `1.113.8`

It would be nice to upgrade version of this extension to  `1.113.8` and make this extension aligned with camel.

[2021-04-28 11:36] loicmathieu commented on #113
We manage google cloud extension via the library BOM, this is the advised way of managing dependency from the Google Cloud Library Team.

So I would prefere to upgrade the version of the library BOM instead of updated a single library.

I don't know if Camel manage each version of each Google Cloud services idenpendently but if it's the case they should move to the BOM if possible.

[2021-04-28 12:03] JiriOndrusek commented on #113
@loicmathieu

I see, that camel is also using bom:

[code]

where version of bom  is `16.3.0` (see https://github.com/apache/camel/blob/main/parent/pom.xml#L218)

[2021-04-28 12:33] loicmathieu commented on #113
Master is `16.1.0` I can increase it on the next release but I'm prototyping using the Google Cloud BOM inside the Quarkus BOM to align all versions from it. I'll update this issue with feedback.

[2021-04-29 08:15] JiriOndrusek opened #114 "Enhance storage client creation (optional and multiple)"
I'm working on camel-quarkus extension for google-storage apache/camel-quarkus#2421

It would be nice to have:

- Optional client registration. For example for the JUnit test using test container, I need to create client manually. But if I don't fill application.properties (e.g. `quarkus.google.cloud.service-account-location`), I get

- Multiple clients registration. It is possible in camel to def

[2021-05-13 14:52] loicmathieu commented on #110
@josh-aguilar do you had time to create a small reproducer or at least, can you give me the list of libraries you use ?
I doubt this error comes from `quarkus-google-cloud-storage`, can you try removing the extension and see if the issue persist ?

[2021-05-13 14:55] loicmathieu commented on #82
@fabrii do you successfully workaround the issue with my explaintations ? Can I close this issue now ?

[2021-05-14 10:39] #109 closed

[2021-05-14 12:26] #54 closed

[2021-05-14 12:28] loicmathieu commented on #114
@JiriOndrusek what you call an optional client is a client that is not authenticated to GCP. For this you'll need to provide a mock to GoogleCloudCredentials, I added a section in the README to explain how to do this, you can find a full exemple in the main integration test.

[2021-05-14 12:59] JiriOndrusek commented on #114
@loicmathieu Thank you. I'll look into it.

[2021-06-01 08:44] ppalaga opened #119 "ClassNotFoundException: com.aayushatharva.brotli4j.decoder.DecoderJNI$Wrapper during native build"
Originally reported in Camel Quarkus https://github.com/apache/camel-quarkus/issues/2692

I wonder if the issue can be reproduced on plain quarkus-google-cloud-services.

It might be related to https://github.com/quarkusio/quarkus/commit/a8a239ab06525a0a22daa659af9c65401c12a344

commit adds a substitution to disable it. All decoders using Brotli related classes have been substituted to avoid havin

[2021-06-01 10:37] ppalaga commented on #119
See also https://quarkusio.zulipchat.com/#narrow/stream/187038-dev/topic/brotli4j

[2021-06-01 13:37] ppalaga commented on #119
The root cause seems to be that `--report-unsupported-elements-at-runtime` (available in META-INF/native-image/com.google.cloud/google-cloud-graalvm-support/native-image.properties ) is incompatible with `@Delete` brought by quarkus-netty.

We need either
A. to get https://github.com/GoogleCloudPlatform/google-cloud-graalvm-support/issues/141 fixed or
B. we need to stop depending on google-cloud-g

[2021-06-01 14:28] ppalaga commented on #119
@gsmet came up with another solution https://github.com/quarkusio/quarkus/pull/17604/files - it works well for Camel Quarkus

[2021-06-01 15:18] gsmet commented on #119
While it works around the issue, I would say it's still a good idea to start the work to avoir using `--report-unsupported-elements-at-runtime`.

We might not be as lucky next time. Also it's definitely not a recommended option.

[2021-06-01 15:29] loicmathieu commented on #119
I was going also to said this is an issue on Quarkus netty and not specific to this extension but it seems to be a little more complicated.

Anyhow, I added a comment on Peter's issue on Google Cloud native support, I'm pretty sure we can work with them on this subject ;)

[2021-06-01 15:33] loicmathieu opened #124 "Add dependabot"
Add dependabot to be aware of library upgrades

[2021-06-01 15:37] loicmathieu commented on #119
@ppalaga

Yes, using the native support from upstream is the recommended way inside Quarkus when available and it's also the way we work together with the Google Cloud team. Using the library and improving it will also improve native support for the all open source community (not only Quarkus) so it's worth it ;)

[2021-06-02 09:45] loicmathieu opened #127 "Avoid duplication of Quarkiverse parent in parent and bom"
The Quarkiverse parent is defined in both the extension pack parent and the BOM.
Updating it is done in two places.

We need to try to find a way to update it in one place, or at least add comment to avoid updating it in one place only.

[2021-06-03 15:50] dzou commented on #119
I will try to remove the `--report-unsupported-elements-at-runtime` on our end. We have some blockers as discussed in https://github.com/GoogleCloudPlatform/google-cloud-graalvm-support/issues/141#issuecomment-853961911
Primarily due to incorrect shading of a native-image config from a dependency in an upstream library. I will try to implement a fix, but because of the upstream dependency it may t

[2021-06-03 16:25] loicmathieu commented on #119
@gsmet, we discussed this recently, this is a valid point, GraalVM support could be hard and as more and more library will include support for it we may hit this issue more often.

Maybe an issue should be openned on GrallVM side to support `@Remove` with `--report-unsupported-elements-at-runtime` or to have a way to override the flag on the command line (to override a value from the config file).

[2021-06-03 16:37] ppalaga commented on #119
I had the same question and asked it here: https://github.com/oracle/graal/issues/1725#issuecomment-852120480
You may want to speak up there too.

[2021-06-03 17:27] dzou commented on #119
Gotcha, will do.

In any case, we'll still work on getting the `--report-unsupported-elements-at-runtime` removed to avoid problems in the future.

[2021-06-04 11:38] #59 closed

[2021-06-04 12:13] loicmathieu commented on #119
This has been worked around in 2.0.0.CR3 but I keep this one openned to track the upstream changes.

[2021-06-04 12:15] loicmathieu commented on #110
No update from the reporter in two months.
Closing it now, @josh-aguilar you can re-open it with the information I requested if the issue still occurs.

[2021-06-04 12:15] #110 closed

[2021-06-04 20:03] bgizdov opened #132 "Secret manager is not working with jdbc"
Hi,

I am trying to use secret manager for JDBC username and password, but I get errors.
I suppose JDBC is initialized before GCP config, and that is the reason for the errors.
If I just use secrets that are injected in beans it is working fine.

If you have ideas on how to fix or work around this issue, please share your thoughts.

Note: Maybe it is something similar to #109

I am using the lates

[2021-06-05 08:32] loicmathieu commented on #132
Do you use the latest version published a few days ago, 0.7.0. It contains a fix that should have solved this issue.

[2021-06-05 15:51] bgizdov commented on #132
Yes, I saw this fix, and I am using the latest version 0.7.0.

[2021-06-05 16:40] sluramod opened #133 "Feature Request: Add support for firebase realtime database"
Is there a reason firebase realtime database is not supported by this extension?

[2021-06-06 10:04] loicmathieu commented on #132
So I'll need a reproducer project because the fix should have fixed your issue.

[2021-06-06 10:08] loicmathieu commented on #133
Hi,
There is no reason other than time available. If someone will be ready to invest some time on it I'll be happy to integrate it.
Otherwise this would need to wait for when I found some time for.
People having interest in it can +1 on it.

[2021-06-07 08:44] bgizdov commented on #132
Hi @loicmathieu ,

I created a test project here https://github.com/bgizdov/secret-manager-test

The error log when start quarkus https://github.com/bgizdov/secret-manager-test/blob/main/error.log

I found that if you comment regular env config and uncomment ${sm//foobar} config while the app is running, then the code is hot replaced, and it is able to get the secrets from google secret manager.

[2021-06-07 14:42] dzou commented on #119
Sounds good. We are starting work to remove `--report-unsupported-elements-at-runtime`. Will keep you updated.

[2021-06-20 15:54] mswiderski opened #134 "Upgrade to latest version of quarkus of 1.13.x to avoid build error"
Would it be possible to upgrade quarkus to version at least 1.13.3 to avoid following error

[code]

This problem happens due to the `quarkus-google-cloud-services` declares 1.13.0 of quarkus but there was a change (https://github.com/quarkusio/quarkus/commit/dd9262e2ed6aaf400eb89b0e09df8babd1bf010e) that makes it fail with above error during build.

I ran into this issue when having quarkus app w

[2021-06-21 05:57] loicmathieu commented on #134
Which BOM did you declare first? The Quarkus one should always comes first as the versions should be takes from it.

[2021-06-21 06:03] mswiderski commented on #134
I have only quarkus bom and then the dependency of `quarkus-google-cloud-pubsub` without bom of the quarkiverse.

[2021-06-21 07:11] loicmathieu commented on #134
Even without the quarkiverse BOM, the includion of the Quarkus BOM first should pull the right dependencies, can you create a small reproducer so I can have a look ?
You can zip it and attache in the issue or give me the link of a Github repo.

[2021-06-21 08:02] mswiderski commented on #134
I will work on smaller thing that what I have right now and see if there is something that can show the issue. Thanks for looking into that.

While testing it out I noticed that when running in native mode I got this error

[code]

Have you seen that before? I don't want to create too many issues and I don't see GitHub discussions enabled here that might be good place to take this up instead of ne

[2021-06-21 08:24] mswiderski commented on #134
@loicmathieu I found the issue and it was on my end, one of the properties was setting quarkus version to 1.13.2 and that affected the maven plugin. So this is non-issue - sorry for the trouble.

[2021-06-21 08:24] #134 closed

[2021-06-21 08:34] loicmathieu commented on #134
@mswiderski great that you fixed the issue !
For the netty issue, if it still occurs, please open another issue with a reproducer.

[2021-06-21 09:09] mswiderski commented on #134
all issues are gone now, thanks a lot for your help @loicmathieu

[2021-06-21 12:33] #104 closed

[2021-06-23 08:54] add-harris opened #143 "Firestore examples: mention @RegisterForReflection annotation is required to store custom objects"
This tripped me for a while, giving me this error when running my app as a native image & trying to save a custom object to Firestore:

```java.lang.RuntimeException: No properties to serialize found on class com.acme.SomeClass```

Spent a while looking at public getters & setters etc until I finally found [this example](https://github.com/quarkiverse/quarkus-google-cloud-services/blob/main/integr

[2021-06-23 09:32] loicmathieu commented on #143
All the extensions works in native, but if a user of the extension didn't know all the details of develping a compatible native application this can be tricky as there is nothing on the guides that help him on this subject.

I'll try to document some developer hint about compatible native image developement.

[2021-06-24 10:13] Thibaud-R opened #146 "Extension for setup GCP logging"
Would it be possible to configure Quarkus Logging for GCP logging ?
As quarkus ignore java.util.logging.config.file, it is not possible to configure it with the GCP LoggingHandler like explianed in https://cloud.google.com/logging/docs/setup/java#the_javautillogging_handler
The only workaround I found, is to register and configure the handler manually ...
The console handler produces logs but the

[2021-06-24 10:19] loicmathieu commented on #146
There is a JUL log Handler, `com.google.cloud.logging.LoggingHandler` so it should be easy to create an extension to use this handler with Quarkus.

[2021-06-24 13:50] Thibaud-R commented on #146
For information the quarkus-logging-json from quarkiverse, resolve my problem (last version):
* it avoid both writing the log in stdout / stderr and sending well formatted logs to gcp loggging api (=> only to stdout)
* the json produces in stdout is well parsed by GCP logging and the JUL log level, is set as the severity (difference with the quarkus-logging-json extension from quarkus)

The proble

[2021-06-24 17:15] theX55 opened #147 "Getting NoClassDefFoundError: javax/security/jacc/EJBMethodPermission with native builds"
Hi all,

we're facing currently the issue, that our native build crashes, with the error NoClassDefFoundError: javax/security/jacc/EJBMethodPermission.

What we use:
Maven 3.8.1
Quarkus 1.13.7 (also tried with 1.13.0)
GraalVM 21.1.0 (also tried 21.0.0.2 & 20.3.1)
quarkus-google-cloud-pubsub 0.7.0 (also tried 0.8.0 & 0.6.0) **<--- if we leave this dependecy the build is green**

**--> Rel:**  Getti

[2021-06-25 07:24] loicmathieu commented on #147
Hi, thanks for reporting, we indead already have the issue reported but the reporter never provide a reproducer and our native buil in CI is working.

Can you provide a reproducer, as a GithHub repo or as a zip file attached in the issue ?

[2021-06-25 14:56] theX55 commented on #147
Hi @loicmathieu ,
we did some research on this issue. It seems, that the pubsub and the JDBC dependencies are not working proper together.
I created a example project also some pipeline runs.

Please have a look at: bitbucket repo`https://bitbucket.org/devdechea/example-pub-sub/src/master/`

[2021-06-25 15:24] loicmathieu commented on #147
Thanks, I'll have a look at this one in a few weeks (vacation) if nobody else pick it before.

[2021-06-29 09:37] ppalaga opened #150 "Consider making `quarkus.google.cloud.project-id` optional"
Camel provides some alternative ways to configure GCP, e.g. in camel-pubsub, users can pass their projectId through the route definition - see https://camel.apache.org/components/3.11.x/google-pubsub-component.html#_uri_format
This works quite well, but users have to always provide `quarkus.google.cloud.project-id` even if it is actually not needed. Thus we'd appreciate if `quarkus.google.cloud.pr

[2021-06-29 17:51] omarkad2 commented on #59
Hello, are you still considering the possibility of loading service account credentials file from classpath (inside `META-INF`) ? It seems more practical than having the key encoded in base64 in `application.properties`

[2021-06-30 06:46] loicmathieu commented on #59
@omarkad2 it didn't seems a very good idea as it's not easy to override on different env if embedded inside the jar but it's not very complex.
We can check the current location props and if it starts with META-INF load it as a resource.

[2021-07-06 16:18] jfbenckhuijsen opened #151 "Failed to retrieve Quarkus mailer password from secret manager"
Im trying to hook up my application to quarkiverse-secret-manager to retrieve secrets from Google Cloud (previously I had my own integration logic, so looking to replace that with a more standardized solution). Most parts seem to work fine, however when I try to configure quarkus mailer using a secret-manager password, I cannot start the application.

Quarkus-bom: 1.13.7-Final
QUarkisverse: 0.8.0

[2021-07-07 12:21] loicmathieu commented on #151
Same issue as #132

[2021-07-20 10:38] #151 closed

[2021-07-20 11:08] loicmathieu commented on #132
Fixed via #154

[2021-07-20 14:53] #132 closed

[2021-08-05 15:52] loicmathieu commented on #147
@theX55 I dig a little on this issue and Hibernate ORM and pubsub extensions are not working together. I'll try to understand what's going on, my current asumption is that  some dependency from the Hibernate ORM trigger some incompatibility code path on pubsub.

[2021-08-05 16:25] theX55 commented on #147
Hi @loicmathieu,
I can assure, that Hibernate and PubSub can work together. We've made it work in the meantime.
Sorry I forgot to replay here.
We solved the issue with adding this dependencies:
`
        <dependency>
            <groupId>org.jboss.spec.javax.security.jacc</groupId>
            <artifactId>jboss-jacc-api_1.5_spec</artifactId>
            <version>2.0.0.Final</version>
        </dep

[2021-08-09 06:48] bgizdov commented on #132
@loicmathieu I confirm, it works now with v0.9.0.
Thanks

[2021-08-09 08:20] loicmathieu commented on #147
@dzou adding both PubSub and Hibernate triggers a GraalVM issue due to the missing ` javax/security/jacc/PolicyContextException`. The issue could be reproducible easily by creating a Quarkus apps with pubsub and Hibernate ORM (from code.quarkus.io for ex). Adding the dependencies from the previous comment fixes the issue.
Do you know if pubsub could trigger the inclusion of JACC in a certain way ?

[2021-08-09 10:59] #124 closed

[2021-08-09 13:10] loicmathieu commented on #150
@ppalaga currently, if not set, it'll default to `ServiceOptions.getDefaultProjectId();` via build step so it's not really mandatory.

I can make it optional, but currently only pubsub and bigtable didn't madatne it, all other extensions would fail.

What you can do, however, is to produce a `RunTimeConfigurationDefaultBuildItem` with the projectId from the route. But as I understand it, you can h

[2021-08-09 21:33] dzou commented on #147
Hmm, I think the issue is actually coming from our project `google-cloud-graalvm-support`. If I remove the `pubsub` dependency but add `google-cloud-graalvm-support`, it causes the issue. Then removing the dependency fixes it. However, adding the core `pubsub` library does not cause the issue.

Is there something that we need to be doing in [our project](https://github.com/GoogleCloudPlatform/goog

[2021-08-10 07:34] loicmathieu commented on #147
@dzou I had a quick look at the library and didn't see what triggers the inclusion of `javax/security/jacc/PolicyContextException`.

The only thing I see is that we're still using an old version of the Google Cloud Library BOM, 16.1.0, but the native support library defines compatibility to version 20.8.0 or later. I can try upgrading to a more recent version and see if it makes any difference but

[2021-08-10 16:52] ppalaga commented on #150
The main motivation behind this request is to be able to create and configure the clients programmatically either from the user application code or from our extension code. In case I do not provide `quarkus.google.cloud.project-id`, would `ServiceOptions.getDefaultProjectId()` return normally without throwing any exception?

Sorry, I am not sure I follow this. What do you mean with "didn't madatne

[2021-08-10 19:16] ppalaga commented on #150
Now I see your comment in #159. Let me test it.

[2021-08-10 20:59] dzou commented on #147
I think the issue might be stemming from the usage of `--report-unsupported-elements-at-runtime` (seems like it's another problem with the flag in reference to the issue we discussed earlier).

I have a PR ready to remove it but it got delayed due to the GraalVM `21.2.0` problems we had. Let me try this again.

[2021-08-11 07:37] loicmathieu commented on #150
_mandate_ ;) I mean that most extensions needs the property to initialize a CDI bean, but not pubsub nor bigtable

[2021-08-11 07:37] loicmathieu commented on #147
Thanks @dzou Quarkus Hibernate extension remove jacc usage so it may collide whith `--report-unsupported-elements-at-runtime` and the substitutions used. If you already have a PR this would be great as it causes issue on multiple areas.

[2021-08-11 07:39] #150 closed

[2021-08-12 21:58] dzou commented on #147
Hey we just released [version 0.6.0](https://github.com/GoogleCloudPlatform/google-cloud-graalvm-support/releases/tag/0.6.0) of `google-cloud-graalvm-support` which I think should resolve this issue.

In your reproducer app, I overrided the version of `google-cloud-graalvm-support` by adding this dependency for version 0.6.0:

[code]

And this was able to get the build to work.

[2021-08-13 07:17] loicmathieu commented on #147
Thanks @dzou, I'll check on the other issue that references this native image flag suppression.

I'm closing the one as #166 fixed it.

[2021-08-13 07:17] #147 closed

[2021-08-25 11:24] loicmathieu commented on #113
Main now uses the latest BOM and as dependabot is installed updates will be made as soon as available.
I'm closing this one as we use the most recent version.

[2021-08-25 11:24] #113 closed

[2021-10-27 09:08] neXus1987 opened #194 "new feature BigQuery Storage API"
Google BigQuery released a new Storage API (also more cost efficient including free contigents):

https://cloud.google.com/bigquery/docs/write-api

[2021-11-23 11:45] loicmathieu opened #206 "Secret manager needs GOOGLE_APPLICATION_CREDENTIALS env var"
When using secret manager and configuration items loading via `sm//my.database.password` for example, if the `GOOGLE_APPLICATION_CREDENTIALS` env variable is not set the application fail with

[code]

[2021-11-23 11:46] loicmathieu commented on #206
/cc @dzou

[2021-11-24 10:08] SvenWoltmann opened #208 "Enhance FirestoreProducer With Option to Setup Emulator"
### Problem

To use the Firestore emulator, you need to set the `FIRESTORE_EMULATOR_HOST` environment variable. That is not always feasible. For example, it's impossible to set an environment variable dynamically for integration tests.

That would, for example, be necessary to use the [Testcontainers](https://www.testcontainers.org/modules/gcloud/) library, which starts the emulator on a random po

[2021-11-24 11:48] loicmathieu commented on #208
Emulators are already supported on some extensions so adding support to more of them is a good thing ;)

On Cloud Storage, we define the setting as `host-override`, see https://github.com/quarkiverse/quarkus-google-cloud-services/blob/main/storage/runtime/src/main/java/io/quarkiverse/googlecloudservices/storage/runtime/StorageConfiguration.java

[2021-11-27 10:31] nostalgiaforinfinity opened #209 "Context not active when using secret manager for configuration properties"
Hi,

I tried to use Secret Manager for properties in my configuration, but fail:

[code]

The `application.properties` looks like this:

[code]

I'm using Quarkus `2.4.2.Final` on Java `17` with cloud services version `0.10.0` running in Docker/GKE with Workload Identity. If I inject the `SecretManagerServiceClient` into code I'm able to use it without errors, so it looks like it's specifically th

[2021-11-27 10:32] nostalgiaforinfinity commented on #209
Full log output below:

[code]

[2021-11-27 18:03] loicmathieu commented on #209
Where and how this connection string prop is used?
Can you provide s reproducer project?

[2021-11-27 22:24] nostalgiaforinfinity commented on #209
@loicmathieu Sure, here it is: https://github.com/nostalgiaforinfinity/209-secrets-test

It took me a while to reproduce because it wasn't obvious. But I think I have a reliable way of triggering it, **and** also fixing the problem by including/excluding the `io.quarkus:quarkus-smallrye-jwt` dependency: When the `io.quarkus:quarkus-smallrye-jwt` is included, the service does not start.

What it lo

[2021-11-30 15:45] nostalgiaforinfinity commented on #209
I managed to get around it, and it worked for a few days, but now I've run run into something new:

[code]

I'll see if I can figure out what that is all about.

[2021-12-27 17:44] #208 closed

[2021-12-27 18:49] loicmathieu commented on #98
Pub/Sub and Bigtable didn't have any global object produced as a CDI beans (as Storage, Firestore and Spanner have), so there is no easy way to provides endpoint override, user needs to do it at their side.

The other now have endpoint override.

[2021-12-27 18:49] #98 closed

[2021-12-27 18:49] loicmathieu commented on #21
It has been done for all services that have emulator except Pub/Sub.

[2021-12-28 11:54] loicmathieu commented on #56
Stackdriver metrics are available since a long time in https://github.com/quarkiverse/quarkus-micrometer-registry

Closing this issue.

[2021-12-28 11:54] #56 closed

[2021-12-28 17:21] loicmathieu commented on #21
Pub/Sub test with emulator just landing, closing this one.

[2021-12-28 17:21] #21 closed

[2021-12-29 12:51] loicmathieu commented on #206
Not an issue, I was missing my projectId/serviceAccount settings :(

[2021-12-29 12:51] #206 closed

[2021-12-29 13:01] loicmathieu commented on #209
@nostalgiaforinfinity going back to the original issue, I see that you set `quarkus.google.cloud.project-id` but not `quarkus.google.cloud.service-account-location` on non-managed environement you should configure a service account or it will try to use a jwtToken from the request (and if no request is active because you are not in the context of a request it will crash).

You can also disabled jw

[2021-12-31 08:51] Fungrim opened #224 "Adding GCP operations logging exception"
I created a fork and played around with adding support for logging directly to GCP operations. It's in a working proof of concept stage at the moment, and I though I should ask you guys if you think it is a good idea before I add more features and start polishing: https://github.com/Fungrim/quarkus-google-cloud-services/tree/main/logging

The ideas is:

* Log directly to GCP using the Google Java

[2022-01-02 15:29] loicmathieu commented on #224
Hi, please open a PR so we can discuss this.
The integration test can be in the main integration test so I can run it manually. Add a REST resource class with exposes the multiple way to log but don't add any test classes if it could not be run from the CI.

[2022-01-03 09:42] Fungrim commented on #224
@loicmathieu Done: #225

[2022-01-03 09:48] loicmathieu commented on #224
Let's keep it openned untill the PR is accepted ;)

[2022-01-25 13:34] sberyozkin commented on #209
Hi @loicmathieu Sorry for a delay, I have to admit I don't understand why it can be happening when a custom config source is used, but I can suggest to try and make the producer method `RequestScoped` as the security identity is request scoped, can you please check, it should resolve it, hopefully

[2022-01-28 16:26] #209 closed

[2022-02-12 04:53] fabrii commented on #82
We managed to solve it in an easier way. We moved the @Inject Storage to a @RequestScoped bean.
That bean is only created when the methods are invoked, so no Storage automatic initialization.

[2022-03-18 11:08] mozahir6 opened #268 "Cloud authentication cannot match the overidden application*.yml with -Dquarkus.config.locations property"
Hello,

I am using **Quarkus 2.7.5** and **'io.quarkiverse.googlecloudservices:quarkus-google-cloud-pubsub:1.0.0'**. I am using an application-local.yml for my local environnement, and i try to start the application using **-Dquarkus.config.locations=application-local.yml**.

The issue is when starting the application, the Google Cloud authentication is made early and it seems that default applica

[2022-04-19 12:23] manuelbl opened #277 "GCP project ID: Is it fixed at build time?"
We're working on using separate GCP projects for test and production. But we are getting permission errors indicating that the application in the production environment tries to access the secret manager in the test environment.

It looks as if the GCP project ID is compiled into the application (ueber-jar package). Is this the case? Is this the case for all the options documented in https://quark

[2022-04-19 12:34] loicmathieu commented on #277
These should be runtime configuration, secret manager is more complex as it needs to access the configuration early enought to be part of the configuration.

This sounds like a bug

[2022-04-19 17:02] manuelbl commented on #277
I've decompiled the generated application and found the GCP project ID in the class `io.quarkus.runtime.generated.Config`. It's inserted into a hash map:

[code]

The key/values from `application.properties` are also inserted into the same hash map as well as many other key/values controlling the logging level.

The project ID must be picked up from the environment at build time. Whatever default

[2022-04-20 13:34] manuelbl commented on #277
I have upgraded my project to the latest version:

- Quarkus 2.8.1
- quarkus-google-cloud-secret-manager 0.11.0

This resolves the bug. The project ID is no longer part of package but instead taken from the environment (service account) at run-time.

I don't understand what exactly has resolved it. The previous version were:

- Quarkus 2.2.2
- quarkus-google-cloud-secret-manager 0.10.0

[2022-04-20 13:57] loicmathieu commented on #277
@manuelbl there was fix on the way the secretmanager extension get the project id, it may fix your issue.

By the way, version 1.0.0 is out (but I just noticed I didn't promote it in Github) you should use it.
In fact, as the extension is in the Quarkus platform, you should not manage the version by yourself but let the platform do it for you, see https://quarkiverse.github.io/quarkiverse-docs/qua

[2022-04-20 14:23] manuelbl commented on #277
@loicmathieu Thanks for the hint re the Quarkus dependency management. I wasn't aware of that. Surprisingly, the uber-jar size has jumped from 53MB to 73MB.

[2022-04-20 15:29] manuelbl commented on #277
I thought the problem was fixed but I've just tricked myself in the deployment. It's still present in the latest version even though I can't find our project ID anywhere in uber-jar. But it clearly picks it up at build-time.

[2022-04-20 15:30] loicmathieu commented on #277
Can you please provide a reproducer project and the detailed steps to reproduce the issue ?

[2022-04-20 15:38] manuelbl commented on #277
Yes, I can do that. Might take a few days though.

[2022-04-20 19:14] manuelbl commented on #277
Here it is already:

**General setup**

Two GCP projects are needed. This description assumes that they are:

- `my-project-test`
- `my-project-prod`

In the `my-project-prod` only, create a secret in the secret manager called `test-cookie` and set its value to a random text.

Finally, an environment with a service account is needed to run the Quarkus application in the `my-project-prod` project.

[2022-05-10 04:51] manuelbl commented on #277
Do your instructions for configuring the project ID apply to run-time, build-time or both?

[2022-05-10 07:14] loicmathieu commented on #277
It should be runtime.
That's why I ask to defne the property inside the application.properties and override it at runtime using environement variable or system property.

[2022-05-10 08:52] manuelbl commented on #277
From all I can tell, the project ID is compiled into the ueber-jar. In your proposal:

- Will the project ID still be picked up from the build environment and compiled into the ueber-jar, but be overridden at run-time?
- Or can I used an invalid project ID in application.properties at build time and that one will be compiled into the ueber-jar?
- Or can I prevent the project ID from being compiled

[2022-05-10 10:29] loicmathieu commented on #277
Everyting inside the application.properties will be included in the package.
And if there is nothing, it will do `ServiceOptions.getDefaultProjectId` at runtime (there was a bug and it was done at build time, I'm working on it).
At runtime, you can override it.

You can use a dumb projectId if you want, I didn't thought about the security implication of having a projectId in the final packaging, b

[2022-05-11 12:26] manuelbl commented on #277
Thanks a lot.

What would be the simplest way to include your version into our project? Can I selectively build the secret-manager?

[2022-05-11 13:22] loicmathieu commented on #277
No, you need to checkout the branch and build the all project.
Building is quick, you can skip tests and it'll be a few tens of seconds : mvn clean install -DskipTests

[2022-05-11 15:45] manuelbl commented on #277
Thank you very much. That fixes it.

This is without configuring `quarkus.google.cloud.project-id`. I've built it while logged in to one Google project and executed in an instance of a different project, and it has correctly picked up the runtime project. So the project ID is no longer compiled into the jar.

[2022-05-25 10:58] loicmathieu commented on #277
Fixed by #286

[2022-05-25 10:58] #277 closed

[2022-06-07 20:43] mpeddada1 opened #294 "UserError: Classes that should be initialized at run time got initialized during image building - `Slf4jLoggerFactory`"
Hi all,

**Description of the issue**
We recently introduced a change in libraries-bom 25.4.0 to [explicitly initialize `Slf4JLoggerFactory` and `Log4JLogger`  at run-time](https://github.com/googleapis/gax-java/blob/0f0996c7c4bea2af3a01979fd3e21cfb6a96d565/gax-grpc/src/main/resources/META-INF/native-image/com.google.api/gax-grpc/native-image.properties#L6) which seems to be resulting in the follo

[2022-06-08 06:34] aigens commented on #294
seeing the same error with bom 25.4.0

[2022-06-08 07:04] loicmathieu commented on #294
@mpeddada1 @aigens Quarkus GCP extensions include the Google library BOM and the Google native support library so to be sure that you don't have any issue you must not include them yourself.

Seeing dependabot PR https://github.com/quarkiverse/quarkus-google-cloud-services/pull/293 build, there is an issue with the new version of the Google library BOM, I'll have a look when I had time which shoul

[2022-06-08 15:48] mpeddada1 commented on #294
Thanks for your response @loicmathieu! A quick note on the issue, the `libraries-bom` 25.4.0 comes with the configurations so please also consider testing PR https://github.com/quarkiverse/quarkus-google-cloud-services/pull/293 without the native-image-support dependency.

[2022-06-09 09:05] loicmathieu commented on #294
@mpeddada1 I don't understand, we need the native-image-support dependency or native build will not work. Does the libraries-bom include the dependency management for it now ?

[2022-06-09 13:54] meltsufin commented on #294
@loicmathieu The native image support is now included in the libraries themselves and doesn't require a separate dependency.

[2022-06-09 14:43] loicmathieu commented on #294
Great ! I'll remove it and see if it fixes the issue.
We normally use netty from Quarkus and not the embedded one from gRPC. The issue may be caused by a needed exclusion of netty embedded somewhere.

[2022-06-14 13:41] loicmathieu commented on #294
@meltsufin I remove the native image support library and fixes the Netty native image issue. You can check https://github.com/quarkiverse/quarkus-google-cloud-services/pull/296, on Quarkus we have builtin support to defere class initialization at runtime and this is what was needed to make BigQuery (in fact Apache Arrow) works on native. We also have a quarkus-netty extension that makes netty work

[2022-06-14 14:59] meltsufin commented on #294
@loicmathieu thanks for investigating the issue and upgrading to the latest libraries-bom. @mpeddada1 recently looked at Apache Arrow configs for GraalVM in BigQuery. So, I'll let her comment on that when she has a chance. I think you can merge #296 for now, and we can update that with the next libraries-bom release when Arrow configs move to BigQuery, where we ultimately want that them to live.

[2022-06-14 15:17] #294 closed

[2022-06-17 16:31] mpeddada1 commented on #294
Thanks for the thorough investigation and upgrade @loicmathieu! I added a comment to #296. As @meltsufin mentioned, ideally we would like the configurations to live in Bigquery but curious to learn more about where they are needed. Would you be able to share a stacktrace?

[2022-06-23 14:53] zjoyner-leageapps opened #298 "Incorrect project ID for secrets manager"
I have quarkus based application running in a GKE cluster in a project however when I look up a secret I know to be in the project the secret URL is for a different project. This will not work as the secrets are project specific. In this case they are DB passwords.

As a workaround I tried the fix in: https://github.com/quarkiverse/quarkus-google-cloud-services/issues/108
Namely, `quarkus.google.c

[2022-06-23 18:02] zjoyner-leageapps commented on #298
I added this code to confirm that the google API is returning the correct information:
[code]
Which is displaying the correct project.

[2022-06-23 18:29] zjoyner-leageapps commented on #298
I got things working but this issue is still present. The way I fixed it was to call getDefaultProjectID before starting the application and passing around a second property for the project name. And finally doing this in the application properties: `${sm//projects/${gc-project-id}/secrets/potato-poc-admin-password}`

It looks like there was an attempted fix here: https://github.com/quarkiverse/qu

[2022-06-27 10:41] loicmathieu commented on #298
@zjoyner-leageapps which version of Quarkus and the `io.quarkiverse.googlecloudservices:quarkus-google-cloud-secret-manager` extension do you use ? The issue has been fixed in the latest version.

I also notice that you add a lot of dependencies that are managed by Quarkus and the Google Cloud extension pack, I strongly suggest to remove them to avoid possible dependency convergence issue :

[code

[2022-06-28 15:38] zjoyner-leageapps commented on #298
This is the gradle deps relevant output:
`io.quarkiverse.googlecloudservices:quarkus-google-cloud-secret-manager:1.1.1 -> 1.1.0`
I am still working through why it isn't giving me the newest version but I so see some references to io.quarkiverse.googlecloudservices:quarkus-google-cloud-common:1.1.0 in the dependencies output which makes me curious.
(I dropped the first party google client for the m

[2022-06-28 16:59] zjoyner-leageapps commented on #298
Ok so I got it fail in a way that tracks with what I was seeing with my workaround by excluding secret-manager from the bom:
`implementation("${quarkusPlatformGroupId}:quarkus-google-cloud-services-bom:${quarkusPlatformVersion}") {
		exclude(group="io.quarkiverse.googlecloudservices", module="quarkus-google-cloud-secret-manager")
	}`
This tracks with the issue I was seeing with my workaround. It m

[2022-06-28 21:44] zjoyner-leageapps commented on #298
Ok so I got everything working. There were two issues:
- the 2.9.2 bom for quarkus-google-cloud-services-bom pins this project to 1.1.0 not 1.1.1 so we have to exclude it from the bom to set it in the gradle file as per the above.
- The other issue was with metadata.google.internal not resolving which meant that the projectID was not getting set. This isn't on your end but it may be worth it to ma

[2022-06-29 07:56] loicmathieu commented on #298
@zjoyner-leageapps yes, the fix was made on 1.1.1 that should be included in Quarkus 2.10 I think (I'll check as I was on vacation and not sure I update the Quarkus Platform).

If you didn't set a projectID, the default is to use `ServiceOptions.getDefaultProjectId()` that will use the Google Metadata service to get it (it'll work on any GCP managed runtimes). It's documented on the documentation

[2022-06-29 07:56] #298 closed

[2022-06-29 07:59] loicmathieu commented on #298
I just checked and it would be OK in Quarkus 2.10.

[2022-07-04 13:34] zecit opened #300 "Add cloud tasks support"
Add a module to support cloud tasks creation.

[2022-07-28 12:22] lucaspouzac opened #310 "Latency during GcpCredentialRecorder loading"
Hello,

I have a latency of 3s during the startup of my quarkus application. This is related to the fact that the projectId is empty, so there is an attempt to retrieve the projectId by an http call from an internal google url with a timeout of 3s.

[code]
I can get the value of the projectId using a spring-cloud-server config, but the problem is that the quarkus-google-cloud-pubsub extension's re

[2022-07-28 12:44] loicmathieu commented on #310
@lucaspouzac due to this extension providing a config source for secret manager, it needs to be loaded earlier (at the special boostraping phase). And the projectId is a critical configuration that is used everywhere.

There isn't an easy way to solves this, if I make the gcp extension loads after spring cloud config, someone may ask the opposite, to order gcp extension after for an other use case

[2022-07-28 13:22] lucaspouzac commented on #310
Thanks for your quick feedback @loicmathieu !

My use case is only sending message in gcp-pubsub.
What is surprising is that I noticed this because I did not set the properties in the application.yaml, which caused the http call (http://metadata.google.internal/computeMetadata/v1 /project/project-id) with the timeout at 3s (and therefore no recovery of the projectId), but the application works cor

[2022-07-28 14:11] loicmathieu commented on #310
I was about to suggest that so I totally agree.

[2022-08-11 11:50] #310 closed

[2022-08-11 21:12] marceloverdijk opened #314 "Unable to resolve Secret Manager value when using yaml configuration"
Having an `application.properties` file with:

[code]

works on GCP.

I'm now trying to do the same in an `application.yaml` file, but the value is not resolved unfortunately

[code]

it gives:

[code]

I also tried escaping like `username: \${sm//MY_USERNAME}` but then the value resolves to simply `"${sm//MY_USERNAME}"` and not the actual value from the Secret Manager.

Do I need to use another f

[2022-08-12 18:58] marceloverdijk opened #315 "Secret Manager does not work with `@ConfigMapping`"
Having an application.properties file with:

[code]

Injecting it with `@ConfigProperty` it works:

[code]

but using a `@ConfigMapping` like:

[code]

will cause the application not to be started in GCP environment.

The error is somewhat vague on GCP...:

[code]

Could it be that with `@ConfigMapping` it tries to "read" the properties to early?
And with `@ConfigProperty` is more of lazy load?
I'

[2022-08-16 08:20] loicmathieu commented on #315
Hi,
Thanks for reporting, can you provide a small reproducer project ?

[2022-08-16 08:23] loicmathieu commented on #315
And also confirm it work on dev mode and only fail on GCP.
By the way, how do you launch it on GCP ? Which service is use to run it ?

[2022-08-16 12:14] marceloverdijk commented on #315
Hi,

It fails on Google AppEngine Standard.
The application is uploaded using `glcoud app deploy` so the actual build is done using Google Cloud Build.

Locally I have no Google Secret Manager so not sure if I can try this in dev mode.

[2022-08-16 12:17] loicmathieu commented on #315
OK, a small reproducer would be great.

[2022-08-16 12:20] marceloverdijk commented on #315
OK will do that after holidays... I've no access to dev laptop :-D

[2022-08-30 14:19] danielcamargoeti commented on #314
Same issue on my end

[2022-08-30 18:15] danielcamargoeti commented on #314
I've found a workaround by defining an empty default value. Something like this:

[code]

[2022-08-31 13:44] loicmathieu commented on #314
@danielcamargoeti did you try to quote the value to be sure YAML interpret it as a Sring ?

[code]

[2022-09-27 10:57] loicmathieu commented on #314
@danielcamargoeti have you try the suggestion I made a few weeks ago .

[2022-10-21 02:21] bernardocoferre opened #335 "Feature Request: Support for Firebase Authentication"
- Add Firebase Authentication support

[2022-10-21 02:25] bernardocoferre commented on #335
@loicmathieu Do you know if there's any particular reason why Firebase Auth is not supported yet by this extension? If it's ok, I'll be happy to contribute and work on it.

[2022-10-24 08:31] loicmathieu commented on #335
@bernardocoferre no reason, if you want to implement it I would be happy to help you with the implementation and review it.

[2022-10-25 01:47] bernardocoferre commented on #335
@loicmathieu thank you! I've opened [this](https://github.com/quarkiverse/quarkus-google-cloud-services/pull/336) draft PR. It does not have any integration tests yet, and the reason for that is because I think Google does not provide any public Docker images with the emulator. Also, the only way to point to the emulator would be setting an environment variable, which would require a little more t

[2022-10-25 07:59] loicmathieu commented on #335
@bernardocoferre I didn't know how firebase is working but I need an integration test at least that I can run manually to check that everything works correctly (the README must include the steps to deploy the IT and test it).

[2022-10-26 02:02] bernardocoferre commented on #335
Understood. I'll provide an integration test to be manually ran, then. Thank you!

[2022-11-03 02:23] bernardocoferre commented on #300
+1

[2022-11-17 13:42] bernardocoferre commented on #335
@loicmathieu Do you know when will the new version be released? Just asking so I can close this issue.

[2022-11-17 14:21] loicmathieu commented on #335
As #336 fixes it I'll close the issue.
I plan to release it soon, maybe for Quarkus 2.15, as this extension is in the platform I prefere to sync releases with Quarkus release but the new version can be used with older one.
To be aware of the new version you can watch this repo for new version.

[2022-11-17 14:21] #335 closed

[2022-11-17 14:27] loicmathieu commented on #314
Closing it as not heard from the issuer from some time.

[2022-11-17 14:27] #314 closed